body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    text-align: justify;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 130px;
}

.half-width {
    width: 60%;
    padding-left: 3%;
}

.half-width img {
    width: 70%;
}

.exp-item {
    width: 40%;
    padding-left: 3%;

    margin-left: 5%;
    margin-right: 5%;

    padding: 10px;

    box-shadow: 10px 10px 50px rgb(133, 125, 125);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;


}

.experience {
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;

}

#full-stack {
    border-left: 7px solid red;
}

#baby-stack {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}