body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    text-align: justify;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 130px;
}

.half-width {
    width: 60%;
    padding-left: 3%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;


}